extends layout
<meta name="Description" content="Tessel resellers: hardware + the web.">

mixin reseller(name, region, link, image)
  div(style="padding-top:10px;")
    b 
      a(href="#{link}", target="_blank") #{name}&nbsp;
    | (#{region})
    p 
      a(href="#{link}", target="_blank")
        img(style="padding:5px", src="https://s3.amazonaws.com/technicalmachine-assets/launch/resellers/#{image}")

block content
  include ./partials/standard-nav
  section.block(style="margin-bottom: 20px")
    .row
      .large-12.columns.large-center
        h1 Resellers and Bulk Pricing
        p Interested in becoming a reseller? <a href="https://www.seeedstudio.com/depot/index.php?main_page=distributors">Contact Seeed</a>.
        
        p
          +reseller('Seeed Studio', '中国 China/Global', 'http://www.seeedstudio.com/depot/Tessel-m-153.html?ref=pinfo', 'seeed_studio.gif')
          
          //- UNCOMMENT ONCE TELEC FIXED
          //- +reseller('Switch Science', '日本 Japan', 'https://www.switch-science.com/catalog/list/558/', 'switch_science.gif')
          


        h3 Bulk Pricing
        
        p Planning to make a large order? <a href="http://www.seeedstudio.com/depot/Tessel-m-153.html?ref=pinfo">Seeed's site has a price break at 10+</a>; further price breaks can be had for 50+ and 100+. Please <a href="mailto:team@technical.io">send us an email</a> if you're interested in these larger numbers.
